[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = git@github.com:kien/ctrlp.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "bundle/airline"]
	path = bundle/airline
	url = https://github.com/bling/vim-airline
[submodule "bundle/rspec"]
	path = bundle/rspec
	url = git@github.com:thoughtbot/vim-rspec.git
[submodule "bundle/coffee_script"]
	path = bundle/coffee_script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/webapi"]
	path = bundle/webapi
	url = git@github.com:mattn/webapi-vim.git
[submodule "bundle/gist"]
	path = bundle/gist
	url = git@github.com:mattn/gist-vim.git
[submodule "/Users/runfor/.vim/bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar
[submodule "bundle/emmet-vim"]
	path = bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim
[submodule "bundle/vim-ruby-eval"]
	path = bundle/vim-ruby-eval
	url = git@github.com:kmdsbng/vim-ruby-eval.git
[submodule "bundle/screen"]
	path = bundle/screen
	url = git@github.com:ervandew/screen.git
[submodule "bundle/vim-slim"]
	path = bundle/vim-slim
	url = https://github.com/slim-template/vim-slim.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
